*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 236, 236);
}
.doctor-img{
    padding:3px;
    transition: all 0.1s;
    cursor: pointer;
}

.doctor-img:hover{
    transform: scale(1.05);
    border: 2px solid red;
}

.appointment-container{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    box-shadow: 0 3px 3px rgba(0 0,0,.3);
    border-radius:10px;
    position:relative;
    cursor: pointer;
}

.appointment-container.consulted{
    border-left: 20px solid purple;
}
.consulted::after{
    background-color: purple;
    border-radius: 1rem;
    content: "CONSULTED";
    color: #fff;
    font-size: 2rem;
    left: 50%;
    padding: .5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
